<h1>All Sources</h1>
<% @sources.each do |source| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= source.url %>
      </h4>
    
    </div>
  </div>
<% end %>

