<% for source in @sources %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= source.url %>
            <div class="no_hidden_result">
            <%= @url %>
            
            </div>
        </h4>
     
      </div>
    </div>
  <% end %>
  