@import "bootstrap_custom";
@import"bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.hidden_result {
  display: none;
}

.carousel .item {
    width: 100%; /*slider width*/

}
.carousel .item img {
    width: 100%; /*img width*/

}

.carousel {
  position: relative;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 1;
}




