@import"bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.hidden_result {
  display: none;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;  
  
}
.swipe-wrap {
  overflow: hidden;
  position: relative;

}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.carousel-inner {
position: relative;
width: 100%;
overflow: hidden;
}

.carousel {
position: relative;
margin-bottom: 0px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
line-height: 1;

}

.carousel .item {
    width: 100%; /*slider width*/
   
}
.carousel .item img {
    width: 100%; /*img width*/
}
